# Visual Studio
.vs/

# Compilación
Debug/
Release/
x64/
x86/

# Objetos
*.obj
*.pdb
*.ilk
*.idb
*.ipch
*.pch
*.tlog
*.log

# Archivos temporales
*.tmp
*.cache

# CMake
out/

# Binarios
*.exe
*.dll
*.lib

# Visual Studio
*.VC.db
*.VC.opendb

# Rider
.idea/

# Archivos de usuario
*.user
*.suo